.button {
  border: none;
  color: white;
  padding: 1.25rem 2.5rem;
  text-align: center;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 90px;
}
