.testimonial__ctn {
  background: url('../../../../public/images/testimonial_ellipse_1.png')
      no-repeat,
    url('../../../../public/images/testimonial_ellipse_2.png') no-repeat,
    #221c38;
  display: flex;
  padding: 6.25rem 0;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
}

.testimonial__header h2 {
  color: #fff;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 600;
}

.testimonial__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}

.testimonial__inner .testimonial__card {
  border-radius: 16px;
  background: rgba(79, 70, 115, 0.35);
  text-align: center;
  padding: 2.5rem 6.25rem;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.testimonial__card p {
  color: rgba(255, 255, 255, 0.8);
  font-size: 1.25rem;
  font-weight: 100;
  line-height: 1.875rem;
}

.testimonial__card__footer {
  margin-top: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.25rem;
}

.testimonial__card__footer__name {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.testimonial__card__footer__name h3 {
  color: #fff;
  font-size: 1rem;
  font-weight: 300;
}

.testimonial__card__footer__name p {
  color: rgba(255, 255, 255, 0.7);
  font-size: 0.875rem;
  font-weight: 300;
}

.navigation__btns {
  margin-top: 2.5em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.25rem;
}

.navigation__btns button {
  outline: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5em;
  border-radius: 100px;
}

.navigation__btns__prev {
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.7);
}

.navigation__btns__next {
  border: none;
  background: #FFF;
}