.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #221c38;
}

.inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  max-width: 1200px;
  padding: 6.25rem 0;
  margin: 0 auto;
  gap: 2.5rem;
}

.features__title {
  color: #fff;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 600;
}

.grid__cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.25rem;
}

.card__container {
  padding: 1.25rem;
  border-radius: 8px;
  background: rgba(79, 70, 115, 0.25);
}

.card__inner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

.card__inner h2 {
  color: #fff;
  font-size: 1.25rem;
}

.card__inner p {
  color: #c6c2d6;
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1.3125rem;
}
