@import url('https://fonts.cdnfonts.com/css/museo-sans-rounded');
:root {
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Museo Sans Rounded', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}
