@import url('https://fonts.cdnfonts.com/css/museo-sans-rounded');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Museo Sans Rounded', sans-serif;
}

body, html {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}
