.hero__container {
  padding-bottom: 2.5em;
}

.hero__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1rem;
  height: calc(100vh - 80px);
  max-height: 100%;
  width: 80%;
  margin: 0 auto;
  color: #fff;
  line-height: 1.1;
  font-weight: 700;
  gap: 1em;
}

.hero__title {
  color: #fff;
  text-align: center;
  font-size: 4.5rem;
  font-weight: 600;
}

.hero__subtitle {
  color: rgba(255, 255, 255, 0.8);
  font-size: 1rem;
  font-weight: 300;
}

.hero__btns {
  margin-top: 2.5rem;
}

.hero__banner {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
}

.hero__banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  padding: 0.3em;
  border: 1px solid #c6c2d6;
  border-radius: 0.5em;
}
