.hero__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 1rem;
  height: calc(100vh - 80px);
  max-height: 100%;
  width: 100%;
  color: #fff;
  line-height: 1.1;
  font-weight: 700;
  gap: 1em;
}

.hero__content h1 {
  color: #fff;
  text-align: center;
  font-size: 4.5rem;
  font-weight: 600;
}

.hero__content p {
  color: rgba(255, 255, 255, 0.8);
  font-size: 1rem;
  font-weight: 300;
}
