.nav_container {
  /* background: #221c38; */
}

.inner {
  display: flex;
  width: 90%;
  margin: 0 auto;
  padding: 1.25rem 0;
}

.logo_ctn {
  display: flex;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
}

.logo h1 {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
}

.hamburger {
  display: none;
}

@media screen and (max-width: 768px) {
  .inner {
    justify-content: space-between;
  }

  .logo_ctn {
    width: 100%;
    justify-content: space-between;
  }

  .logo {
    margin-right: 1.5rem;
  }

  .logo img {
    width: 2.5rem;
    height: 2.5rem;
  }

  .logo h1 {
    font-size: 1.25rem;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }
}
