.nav_container {
  /* background: #221c38; */
}

.inner {
  display: flex;
  width: 90%;
  margin: 0 auto;
  padding: 1.25rem 0;
}

.logo_ctn {
  display: flex;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
}

.logo h1 {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
}

.hamburger {
  display: none;
}
